.top-bar {
    display: flex;
    gap: 25%;
    align-items: center;
    margin: .6em 1em;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: .6em;
}

.top-bar h3 {
    margin: 0;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.search-category {
    display: flex;
    align-items: center;
    gap: .4em;
    border-radius: 15;
    padding: .2em;
    margin: .6em 1em;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.search-category input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1em;
    margin: .6em 1em;
}

.category {
    background-color: #fff;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category div {
    background-color: rgb(215, 245, 242);
    padding: .3em .3em;
    border-radius: 50%;
}

.category .title {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 0;
    font-weight: bold;
    color: black;
}

.category p {
    color: gray;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    text-align: center;
    margin: .5em 0 0 0;
}

a {
    text-decoration: none;
}