nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFDFE;
    padding: 10px;
}

.nav-icons {
    display: flex;
}

.logo {
    display: flex;
}

img {
    width: 2em;
    height: 2em;
}

p {
    font-size: 1rem;
    margin: 0;
    margin-top: 2px;
    padding-left: 10px;
    font-weight: bold;
}

.nav-icons {
    display: flex;
    gap: 20px;
}

/*Side Bar*/
.side-bar {
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 60%;
    z-index: 1;
    top: 0;
    right: -100%;
    padding: 1em .5em;
    display: flex;
    flex-direction: column;
    transition: right 0.5s ease-in-out;
}

.side-bar.sidebar-visible {
    right: 0;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.menu {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.menu p {
    color: #838383;
    font-size: .8rem;
    margin: 0;
}

.menu-items {
    margin-top: 1em;
}

.item {
    margin: .8em .5em;
    display: flex;
    align-items: center;
    gap: .5em;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.item:hover {
    background-color: #d8d8d8;
}

.item a {
    color: black;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 550;
    transition: all .5s ease-in-out;
}

.item a:hover {
    color: #838383;
    text-decoration: underline;
}

.settings {
    margin: 0;
}

.settings-items {
    margin-top: 1em;
}

.setting-item {
    margin: .8em .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-item-left {
    display: flex;
    align-items: center;
    gap: .5em;
}

.modeSwitch {
    display: flex;
    align-items: center;
    gap: .5em;
    border: 1px solid #a3a3a3;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: .3em;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 1em;
    font-size: .5rem;
    color: #838383;
    height: max-content;
    margin-bottom: 3em;
}